* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  border-radius: 10px;

  &:hover {
    background-color: aliceblue;
  }

  &.nav-active {
    color: white;

    &:hover {
      color: black;
    }
  }
}

.listFilms {
  grid-area: liFilm;
  // margin-top: 170px;
  margin-right: 500px;
}
.descriptionFilm {
  grid-area: desc;
  width: 500px;
  position: fixed;
  top: 170px;
  right: 0;
}

.result {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
